
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: darkgray;
}
.navbar1 {
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    font-size: x-large;
}
.navbar2 {
    grid-column: 3/4;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    font-size: x-large;
}
.navbar3 {
    grid-column: 2/3;
}
main {
    background-color: #c6cfc7;
}

.firstpic {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.pic {
    max-width: 400px;
    max-height: 400px;
    margin: 5px;
    justify-self: center;
}
.firstpic1 {
    justify-self: center;
    align-self: center;
    margin: 10px;
}
h1 {
    text-align: center;
    font-family: "Exo 2";
}
.secondpicgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.secondpic {
    max-width: 500px;
    margin: 5px;
    justify-self: center;
}
.secondpic1 {
    justify-self: center;
    align-self: center;
    margin: 10px;
}
footer {
    background-color: #00bf63;
}
body {
    background-color: #c6cfc7;
}
p {
    font-family:  Open Sans, Helvetica, sans-serif;
}
a {
    font-family: "Exo 2";
}

.page2grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.secondpics {
    margin: 5px;
    justify-self: center;
}
.secondpics2 {
    margin: 5px;
    justify-self: center;
    align-self: center;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
.mySlides {
    display: none;
  }
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
.text {
    color: #00bf63;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
.numbertext {
    color: #00bf63;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
.active, .dot:hover {
    background-color: #717171;
  }
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
a:link {
    color: black
}
a:visited {
    color: black
}
a:hover {
    color: #00bf63
}
.site_plan:hover {
    color:#717171
}